@charset "UTF-8";

/*@font-face {*/
  /*font-family: 'iconfont';*/
  /*src: url("../fonts/iconfont.eot");*/
  /*src: url("../fonts/iconfont.eot?#iefix") format("embedded-opentype"), url("../fonts/iconfont.woff") format("woff"), url("../fonts/iconfont.ttf") format("truetype"), url("../fonts/iconfont.svg#iconfont") format("svg");*/
/*}*/

@font-face {
  font-family: 'iconfont';  /* project id 576282 */
  src: url('//at.alicdn.com/t/font_576282_w0bohq5p0i2otj4i.eot');
  src: url('//at.alicdn.com/t/font_576282_w0bohq5p0i2otj4i.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_576282_w0bohq5p0i2otj4i.woff') format('woff'),
  url('//at.alicdn.com/t/font_576282_w0bohq5p0i2otj4i.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_576282_w0bohq5p0i2otj4i.svg#iconfont') format('svg');
}

body{
  font-family: SketchRockwell,Arial,"Helvetica Neue",Microsoft Yahei,'iconfont';
}
a{
  color: #1a1a1a;
  text-underline: none;
  text-decoration: none;
}

/* .fade-router-enter-active,.fade-router-leave-active{
  transition: all .5s ease-in-out;
} */

/* .fade-router-enter{
  transform:translateX(100%);
}
.fade-router-leave{
  transform:translateX(-100%);
} */

/* .fade-router-enter,.fade-router-leave-active{
  opacity: 0;
} */


.blog-user{
  margin-right: 30px;
  display: flex;
  justify-items: center;
  align-items: center;
}
.blog-user span{
  height:40px;
  width: 40px;
  line-height: 40px;
  background:#5387e2;
  color: #FFF;
  display: block;
  text-align: center;
  border-radius: 50% 50%;
}
.blog-user a{
  font-style:normal;
  display: block;
  color: #FFF;
  font-size: 20px;
  margin-right: 15px;
  text-decoration: none;
}
 em{
    font-style: normal;
    color: #a72013;
    font-weight: bold;
    display: inline-block;
    padding-left: 3px;
}
.hljs {
    display:block;
    overflow-x:auto;
    padding:.5em;
    color:#333;
    background:#f8f8f8;
    -webkit-text-size-adjust:none;
    font-size: 18px;
    font-family: Menlo, Monaco, Consolas, 'Andale Mono', 'lucida console', 'Courier New', monospace;;
}
.diff .hljs-header, .hljs-comment {
    color:#998;
    font-style:italic
}
.css .rule .hljs-keyword, .hljs-keyword, .hljs-request, .hljs-status, .hljs-subst, .hljs-winutils, .nginx .hljs-title {
    color:#333;
    font-weight:700
}
.hljs-hexcolor, .hljs-number, .ruby .hljs-constant {
    color:teal
}
.hljs-doctag, .hljs-string, .hljs-tag .hljs-value, .tex .hljs-formula {
    color:#d14
}
.hljs-id, .hljs-title, .scss .hljs-preprocessor {
    color:#900;
    font-weight:700
}
.hljs-list .hljs-keyword, .hljs-subst {
    font-weight:400
}
.hljs-class .hljs-title, .hljs-type, .tex .hljs-command, .vhdl .hljs-literal {
    color:#458;
    font-weight:700
}
.django .hljs-tag .hljs-keyword, .hljs-rule .hljs-property, .hljs-tag, .hljs-tag .hljs-title {
    color:navy;
    font-weight:400
}
.hljs-attribute, .hljs-name, .hljs-variable, .lisp .hljs-body {
    color:teal
}
.hljs-regexp {
    color:#009926
}
.clojure .hljs-keyword, .hljs-prompt, .hljs-symbol, .lisp .hljs-keyword, .ruby .hljs-symbol .hljs-string, .scheme .hljs-keyword, .tex .hljs-special {
    color:#990073
}
.hljs-built_in {
    color:#0086b3
}
.hljs-cdata, .hljs-doctype, .hljs-pi, .hljs-pragma, .hljs-preprocessor, .hljs-shebang {
    color:#999;
    font-weight:700
}
.hljs-deletion {
    background:#fdd
}
.hljs-addition {
    background:#dfd
}
.diff .hljs-change {
    background:#0086b3
}
.hljs-chunk {
    color:#aaa
}

body,html{
  /* background: red; */
  overflow: auto;
}
