@charset "UTF-8";

/*@font-face {*/
  /*font-family: 'iconfont';*/
  /*src: url("../fonts/iconfont.eot");*/
  /*src: url("../fonts/iconfont.eot?#iefix") format("embedded-opentype"), url("../fonts/iconfont.woff") format("woff"), url("../fonts/iconfont.ttf") format("truetype"), url("../fonts/iconfont.svg#iconfont") format("svg");*/
/*}*/

@font-face {
  font-family: 'iconfont';  /* project id 576282 */
  src: url('//at.alicdn.com/t/font_576282_w0bohq5p0i2otj4i.eot');
  src: url('//at.alicdn.com/t/font_576282_w0bohq5p0i2otj4i.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_576282_w0bohq5p0i2otj4i.woff') format('woff'),
  url('//at.alicdn.com/t/font_576282_w0bohq5p0i2otj4i.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_576282_w0bohq5p0i2otj4i.svg#iconfont') format('svg');
}

body{
  font-family: SketchRockwell,Arial,"Helvetica Neue",Microsoft Yahei,'iconfont';
}
a{
  color: #1a1a1a;
  text-underline: none;
  text-decoration: none;
}

.fade-router-enter-active,.fade-router-leave-active{
  transition: all .5s ease-in-out;
}

.fade-router-enter{
  transform:translateX(100%);
}
.fade-router-leave{
  transform:translateX(-100%);
}

.fade-router-enter,.fade-router-leave-active{
  opacity: 0;
}
